<nav class="navbar is-info is-transparent has-centered-menu" role="navigation" aria-label="main navigation">
  <div class="navbar-brand columns is-vcentered pt-2 pl-2 logo">
    <div class="navbar-item image column is-3 ">
      <img class="is-rounded" src="../../assets/img/logo_ulpgc.png">
    </div>

    <div class="navbar-item column">
      <div class="has-text-centered">Instituto Universitario de Ciencias y Tencologías Cibernéticas</div>
    </div>
  </div>

  <div class="navbar-menu">
      <div class="navbar-start">
          <div class="navbar-item has-dropdown is-hoverable" (mouseenter)="showDropdown = true" (click)="hideDropdown()">
              <a class="navbar-link">Procesamiento de campañas</a>
              <div class="navbar-dropdown" [ngClass]="{'is-hidden': !showDropdown}">
                  <a class="navbar-item" routerLink="/upload-campaign"> Importar campaña </a>
                  <hr class="navbar-divider">
                  <a class="navbar-item" routerLink="/ips-methods"> Aplicar métodos IPS </a>
                  <hr class="navbar-divider">
                  <a class="navbar-item" routerLink="/task-history"> Estado de procesamiento </a>
              </div>
          </div>
          <a class="navbar-item" routerLink="/campaigns">Gestión de campañas</a>
      </div>
  </div>
</nav>