.overflow-hidden 
  overflow: hidden

.chart-container 
  display: flex
  justify-content: center
  align-items: center
  height: 900px
  width: 1800px
  overflow: auto
  


.chart-container-inner
  display: flex
  justify-content: center
  align-items: center
  overflow: auto

::ng-deep .mat-option:first-child .mat-pseudo-checkbox
 display: none


.custom-padding 
  padding-bottom: 2.5rem

