.overflow-hidden 
  overflow: hidden

.chart-container 
  display: flex
  justify-content: center
  align-items: center
  height: 500px
  width: 900px
  overflow: auto
  


.chart-container-inner
  display: flex
  justify-content: center
  align-items: center
  overflow: auto

::ng-deep .mat-option:first-child .mat-pseudo-checkbox
 display: none


.custom-padding 
  padding-bottom: 2.5rem

.field
  .custom-container
    width: 50%
    margin-left: 25%

    .custom-label
      width: 100%

    .custom-slider
      width: 100%

