.container
    height: 132px
    word-wrap: break-word

.card-header-title
    height: 100px
    word-wrap: break-word

#header-divider
    margin-top:7px
    margin-bottom:1px
    
#body-divider
    margin-top: 10px
    margin-bottom: unset

img
  height: 180px
  width: 280px

.wide-card
    height: 201px
    text-overflow: ellipsis


.column
    padding-right: unset
    margin-right:20px

.columns
  margin-right: unset

.field
  .custom-container
    width: 90%
    text-align: center

    .custom-label
      width: 100%

    .custom-slider
      width: 100%

.card-image:first-child img
  border-bottom-left-radius: 0.25rem
  border-bottom-right-radius: 0.25rem

::ng-deep .mat-option:first-child .mat-pseudo-checkbox
 display: none

.buttonPosition
  margin-left: 710px
  

.basicSpace
  height: 260px

.mediumSpace
  height: 350px

.largeSpace
  height: 500px


@media (max-width: 1899px)
  .formField
    width: 150px
  
  .field 
    .custom-container 
      width: 630px

  .buttonPosition
    margin-left: 490px


@media (max-width: 1330px)
  .formField
    width: 130px

  .field 
    .custom-container 
      width: 550px

  .buttonPosition
    margin-left: 480px



    
  



