.container
    height: 132px
    word-wrap: break-word

.card-header-title
    height: 100px
    word-wrap: break-word

#header-divider
    margin-top:7px
    margin-bottom:1px
    
#body-divider
    margin-top: 10px
    margin-bottom: unset

img
  height: 180px
  width: 280px

.wide-card
    height: 201px
    text-overflow: ellipsis


.column
    padding-right: unset
    margin-right:20px

.columns
  margin-right: unset

.field
  .custom-container
    width: 90%
    text-align: center

    .custom-label
      width: 100%

    .custom-slider
      width: 100%


