<div class="card column mb-5 has-background-white-bis">
    <div class="content">
        <div class="columns wide-card is-clipped" [ngClass]="{'basicSpace': WKNNparams || SVRparams,
         'mediumSpace': SVRgammaRange || NuSVRgammaRange || NuSVRparams || LinearSVRparams, 'largeSpace': NuSVRgammaRange }">
            <div class="column image card-image is-2">
                <img [src]="campaignImages.length > 0 ? campaignImages[0] : 'assets/img/defaultCampaignImage.png'" alt="Campaign Image">
            </div>
            <div class="column is-2">
                <div class="has-text-centered has-text-weight-bold">
                    {{ campaign.Name }}
                </div>
                <hr id="header-divider" class="is-divider has-background-grey-lighter">
                <div class=" has-text-centered has-text-grey">
                    {{ campaign.Date| date: 'dd-MM-yyyy'  }}
                </div>
                <div class="mt-4 ml-3 has-text-left has-text-grey">
                    {{ campaign.Description  }}
                </div>
            </div>
            <div class="column is-offset-1 mt-5">
              <section>
                <span class="is-fullwidth">
                  <form [formGroup]="form">
                    <mat-form-field class="formField">
                      <mat-label>Método</mat-label>
                      <mat-select placeholder="Sin selección" formControlName="methods">
                        <mat-option *ngFor="let method of methods" [value]="method" (click)="onMethodSelected(method)">
                          {{ method }}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                    <mat-form-field class="ml-3 formField">
                      <mat-label>Protocolo</mat-label>
                      <mat-select placeholder="Sin selección" multiple formControlName="protocols">
                        <mat-option class="mat-option" value="allProtocols" (click)="selectAllProtocols()">Seleccionar todos</mat-option>
                        <mat-option *ngFor="let protocol of protocols" [value]="protocol">
                          {{ protocol }}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                    <mat-form-field class="ml-3 formField">
                      <mat-label>Canal</mat-label>
                      <mat-select placeholder="Sin selección" multiple formControlName="channels">
                        <mat-option class="mat-option" value="allChannels" (click)="selectAllChannels()">Seleccionar todos</mat-option>
                        <mat-option *ngFor="let channel of channels" [value]="channel">
                          {{ channel }}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                    <mat-form-field class="ml-3 formField">
                      <mat-label>Muestras</mat-label>
                      <mat-select placeholder="Sin selección" formControlName="sample">
                        <mat-option [value]="-1">Sin límite</mat-option>
                        <mat-option *ngFor="let sample of samples" [value]="sample">
                          {{ sample }}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                    <div class="field" *ngIf="WKNNparams">
                      <mat-form-field class="formField">
                        <mat-label>Métrica</mat-label>
                        <mat-select placeholder="Sin selección" multiple formControlName="metrics">
                          <mat-option class="mat-option" value="allMetrics" (click)="selectAllMetrics()">Seleccionar todos</mat-option>
                          <mat-option *ngFor="let metric of metricParams" [value]="metric">
                            {{ metric }}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                      <mat-form-field class="ml-3 formField">
                        <mat-label>Algoritmo</mat-label>
                        <mat-select placeholder="Sin selección" multiple formControlName="algorithms" >
                          <mat-option class="mat-option" value="allAlgorithms" (click)="selectAllAlgorithms()">Seleccionar todos</mat-option>
                          <mat-option *ngFor="let algorithm of algorithParams" [value]="algorithm">
                            {{ algorithm }}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                      <div class="custom-container">
                        <label class="custom-label has-text-weight-bold has-text-grey">Rango de K vecinos</label>
                        <mat-slider class="custom-slider" min="1" max="20" step="1" showTickMarks discrete>
                          <input matSliderStartThumb formControlName="kRangeStart">
                          <input matSliderEndThumb formControlName="kRangeEnd">
                        </mat-slider>
                      </div>
                    </div>
                    <div class="field" *ngIf="SVRparams">
                      <mat-form-field class="formField">
                        <mat-label>Kernel</mat-label>
                        <mat-select placeholder="Sin selección" multiple formControlName="kernels">
                          <mat-option class="mat-option" value="allKernels" (click)="selectAllKernels()">Seleccionar todos</mat-option>
                          <mat-option *ngFor="let kernel of kernelParams" [value]="kernel">
                            {{ kernel }}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                      <mat-form-field class="ml-3 formField">
                        <mat-label>C step</mat-label>
                        <input matInput type="number" placeholder="Sin valor" formControlName="cStep" step="0.1" min="0.1" max="20">
                      </mat-form-field>
                      <mat-form-field class="ml-3 formField">
                        <mat-label>Gamma</mat-label>
                        <mat-select placeholder="Sin selección" formControlName="gamma" [multiple]="false">
                          <mat-option *ngFor="let gamma of gammaParams" [value]="gamma" (click)="onSVRGammaSelected(gamma)">
                            {{ gamma }}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                      <mat-form-field class="ml-3 formField" *ngIf="SVRgammaRange">
                        <mat-label>G step</mat-label>
                        <input matInput type="number" placeholder="Sin valor" formControlName="gStep" step="0.01" min="0.01" max="1">
                      </mat-form-field>
                      <div class="custom-container">
                        <label class="custom-label has-text-weight-bold has-text-grey">Rango de C</label>
                        <mat-slider class="custom-slider" min="0.1" max="20" step="0.1" showTickMarks discrete>
                          <input matSliderStartThumb formControlName="cRangeStart">
                          <input matSliderEndThumb formControlName="cRangeEnd">
                        </mat-slider>
                      </div>
                      <div class="custom-container" *ngIf="SVRgammaRange">
                        <label class="custom-label has-text-weight-bold has-text-grey">Rango de Gamma</label>
                        <mat-slider class="custom-slider" min="0.01" max="1" step="0.01" showTickMarks discrete>
                          <input matSliderStartThumb formControlName="gRangeStart">
                          <input matSliderEndThumb formControlName="gRangeEnd">
                        </mat-slider>
                      </div>
                    </div>
                    <div class="field" *ngIf="NuSVRparams">
                      <mat-form-field class="formField">
                        <mat-label>Kernel</mat-label>
                        <mat-select placeholder="Sin selección" multiple formControlName="kernels">
                          <mat-option class="mat-option" value="allKernels" (click)="selectAllKernels()">Seleccionar todos</mat-option>
                          <mat-option *ngFor="let kernel of kernelParams" [value]="kernel">
                            {{ kernel }}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                      <mat-form-field class="ml-3 formField">
                        <mat-label>Nu step</mat-label>
                        <input matInput type="number" placeholder="Sin valor" formControlName="nuStep" step="0.01" min="0.01" max="1">
                      </mat-form-field>
                      <mat-form-field class="ml-3 formField">
                        <mat-label>C step</mat-label>
                        <input matInput type="number" placeholder="Sin valor" formControlName="cStep" step="0.1" min="0.1" max="20">
                      </mat-form-field>
                      <mat-form-field class="ml-3 formField">
                        <mat-label>Gamma</mat-label>
                        <mat-select placeholder="Sin selección" formControlName="gamma" [multiple]="false">
                          <mat-option *ngFor="let gamma of gammaParams" [value]="gamma" (click)="onNuSVRgammaSelected(gamma)">
                            {{ gamma }}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                      <mat-form-field class="formField" [ngClass]="{'ml-3': !NuSVRgammaRange }" *ngIf="NuSVRgammaRange">
                        <mat-label>G step</mat-label>
                        <input matInput type="number" placeholder="Sin valor" formControlName="gStep" step="0.01" min="0.01" max="1">
                      </mat-form-field>
                      <div class="custom-container">
                        <label class="custom-label has-text-weight-bold has-text-grey">Rango de Nu</label>
                        <mat-slider class="custom-slider" min="0.01" max="1" step="0.01" showTickMarks discrete>
                          <input matSliderStartThumb formControlName="nuRangeStart">
                          <input matSliderEndThumb formControlName="nuRangeEnd">
                        </mat-slider>
                      </div>
                      <div class="custom-container">
                        <label class="custom-label has-text-weight-bold has-text-grey">Rango de C</label>
                        <mat-slider class="custom-slider" min="0.1" max="20" step="0.1" showTickMarks discrete>
                          <input matSliderStartThumb formControlName="cRangeStart">
                          <input matSliderEndThumb formControlName="cRangeEnd">
                        </mat-slider>
                      </div>
                      <div class="custom-container" *ngIf="NuSVRgammaRange">
                        <label class="custom-label has-text-weight-bold has-text-grey">Rango de Gamma</label>
                        <mat-slider class="custom-slider" min="0.01" max="1" step="0.01" showTickMarks discrete>
                          <input matSliderStartThumb formControlName="gRangeStart">
                          <input matSliderEndThumb formControlName="gRangeEnd">
                        </mat-slider>
                      </div>
                    </div>
                    <div class="field" *ngIf="LinearSVRparams">
                      <mat-form-field class="formField">
                        <mat-label>I step</mat-label>
                        <input matInput type="number" placeholder="Sin valor" formControlName="iStep" step="100" min="100" max="10000">
                      </mat-form-field>
                      <mat-form-field class="ml-3 formField">
                        <mat-label>C step</mat-label>
                        <input matInput type="number" placeholder="Sin valor" formControlName="cStep" step="0.1" min="0.1" max="20">
                      </mat-form-field>
                      <div class="custom-container">
                        <label class="custom-label has-text-weight-bold has-text-grey">Rango de I</label>
                        <mat-slider class="custom-slider" min="0" max="10000" step="100" showTickMarks discrete>
                          <input matSliderStartThumb formControlName="iRangeStart">
                          <input matSliderEndThumb formControlName="iRangeEnd">
                        </mat-slider>
                      </div>
                      <div class="custom-container">
                        <label class="custom-label has-text-weight-bold has-text-grey">Rango de C</label>
                        <mat-slider class="custom-slider" min="0.1" max="20" step="0.1" showTickMarks discrete>
                          <input matSliderStartThumb formControlName="cRangeStart">
                          <input matSliderEndThumb formControlName="cRangeEnd">
                        </mat-slider>
                      </div>
                    </div>
                  </form>
                </span>
              </section>
            </div>
        </div>
    </div>
    <div class="has-text-centered buttonPosition">
      <button [disabled]="form.invalid" (click)="applyMethod()" class="button is-link is-rounded">Aplicar método</button>
    </div>
</div>