<div class="card column mb-5 has-background-white-bis">
    <div class="content">
        <div class="columns wide-card is-clipped">
            <div class="column image card-image is-2">
                <img [src]="campaignImages.length > 0 ? campaignImages[0] : 'assets/img/campaignImage.png'" alt="Campaign Image">
            </div>
            <div class="column is-2">
                <div class="has-text-centered has-text-weight-bold">
                    {{ campaign.Name }}
                </div>
                <hr id="header-divider" class="is-divider has-background-grey-lighter">
                <div class=" has-text-centered has-text-grey">
                    {{ campaign.Date| date: 'dd-MM-yyyy'  }}
                </div>
                <div class="mt-4 ml-3 has-text-left has-text-grey">
                    {{ campaign.Description  }}
                </div>
            </div>
            <div class="column is-offset-1 mt-5">
              <section>
                <span class="is-fullwidth">
                  <form [formGroup]="form">
                    <mat-form-field>
                      <mat-label>Método</mat-label>
                      <mat-select placeholder="Sin selección" multiple formControlName="methods">
                        <mat-option *ngFor="let method of methods" [value]="method">
                          {{ method }}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                    <mat-form-field class="ml-3">
                      <mat-label>Protocolo</mat-label>
                      <mat-select placeholder="Sin selección" multiple formControlName="protocols">
                        <mat-option *ngFor="let protocol of protocols" [value]="protocol">
                          {{ protocol }}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                    <mat-form-field class="ml-3">
                      <mat-label>Canal</mat-label>
                      <mat-select placeholder="Sin selección" multiple formControlName="channels">
                        <mat-option *ngFor="let channel of channels" [value]="+channel">
                          {{ channel }}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                    <mat-form-field class="ml-3">
                      <mat-label>Numero de muestras</mat-label>
                      <mat-select placeholder="Sin selección" formControlName="sample">
                        <mat-option [value]="0">Sin límite</mat-option>
                        <mat-option *ngFor="let sample of samples" [value]="sample">
                          {{ sample }}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                    <div class="field">
                      <div class="custom-container">
                        <label class="custom-label has-text-weight-bold has-text-grey">Rango de K vecinos</label>
                        <mat-slider class="custom-slider" min="1" max="20" step="1" showTickMarks discrete [displayWith]="formatLabel">
                          <input matSliderStartThumb formControlName="kRangeStart">
                          <input matSliderEndThumb formControlName="kRangeEnd">
                        </mat-slider>
                      </div>
                    </div>
                  </form>
                </span>
              </section>
            </div>
        </div>
    </div>
    <div class="has-text-centered" style="margin-left: 700px">
      <button [disabled]="form.invalid" (click)="applyMethod()" class="button is-link is-rounded">Aplicar método</button>
    </div>
</div>