.card
  width: 300px

.container
    height: 138px
    word-wrap: break-word

.card-header-title
    height: 60px
    word-wrap: break-word

#header-divider
    margin-top:7px
    margin-bottom:1px
    
#body-divider
    margin-top: 10px
    margin-bottom: unset

img
  height: 180px
  width: 280px






